body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

/* style to keep table at 8/10 from page width */
.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* styling for first column ; need to overwright Bootstrap styling*/
.firstcolumn {
  border-bottom: dashed 1px black !important;
  text-align: right;
  vertical-align: middle !important;
}

/* style for the rows with time in the past - will be changed by JS*/
.past {
  display: flex;
  flex-direction: column;
  height: 75px; /* Set an initial height for the container */
  width : 100%;
  background-color: #d3d3d3 !important;
  color: white;
}

/* style for the row with current time - will be added by JS */
.present {
  background-color: #ff6961 !important;
  color: white;
}

/* style for the rows with time in the future -will be added by JS */
.future {
  background-color: #77dd77 !important;
  color: white;
}

/* style for area of input text */
textarea {
  flex: 1;
  background: transparent;
  border: none;
  padding: 10px;
  resize: none; /* Disable textarea resizing */ 
  width: 100%; /* Set the width of the textarea to 100% of its parent element */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

/* style for text input inside the second column */
.transparent-input {
  border: none;
  background-color: transparent;
}

/* style for "save" icon area */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5 !important; 
  text-align: center;
  font-size: 30px;
}

.saveBtn i:hover {
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}

/* styling for third column ; need to overwrite Bootstrap styling*/
.thirdcolumn {
 background-color: aqua !important; 
 text-align: center;
}


